<?xml version="1.0"?>
<launch>
	<param name="/test_piece_image/img_file_name" value="$(find jps_puzzle_piece)/dat/sample_pic.png" type="string" />
	<node pkg="jps_puzzle_piece" type="test_piece_image_supplier" name="test_piece_image_supplier_node" ns="test_piece_image" output="screen"/>

	<param name="/piece_parser/bin_threshold" value="95" />
	<remap from="/piece_parser/input_image" to="/test_piece_image/camera/image" />
	<node pkg="jps_puzzle_piece" type="piece_parser" name="piece_parser_node" ns="piece_parser" output="screen" />
</launch>
